/* Helper classes */
.hidden {
	display: none;
}

/* Header/Footer */
header {
	h1 {
		left: 50%;
		position: absolute;
		text-align: center;
		color: #FFF;
		margin-top: 9px;
		margin-left: -101px;
	}
	h3 {
		color: #FFF;
		text-align: center;
		margin: 5px 0;
	}
	.row {
		padding: 0 1%;
	}
	.btn-group {
		margin: 12px 0;
		ul li a {
			z-index: 5000;
		}
	}
	#daysText {
		color: #FFF;
		margin: 9px 0;
		
		.popover {
			color: #333;
		}
	}
	.navbar {
		filter: none; // Fix issue where drop down does not show
	}
}

footer {
	padding: 0 1%;
	
	img {
		max-width: 7%;
	}
}

/* Misc Styles */
#days {
	width: 25px;
	margin-top: 5px;
	text-align: center;
	padding: 0;
}
.rejectArea {
	display: none;
}
.detailsArea {
	cursor: pointer;
}
.dropdown-menu {
	right: 0;
	left: initial;
}
.priceOutOfRange {
	display: none;
}
.listingRejected {
	display: none
}
tbody > tr.listingRejected > td {
	background-color: #f2dede;
	border-color: #eed3d7;
}
tbody > tr.listingRejected:hover > td {
	background-color: #ebcccc;
	border-color: #e6c1c7;
}
#loading {
	top: 40%; left: 50%;
	height: 180px; width: 300px;
	position: absolute;
	margin-left: -150px;
	margin-top: -90px;
	background: #333;
	border-radius: 10px;
	border: 5px solid #428bca;
	color: #FFF;
	text-align: center;
	padding: 16px;
	opacity: .9;
}
#loading img {
	max-width: 50px;
	padding-bottom: 30px;
}

/* Error Messaging */
#errorOverlay {
	top: 0; left: 0;
	width: 100%;  height: 100%;
	background-color: #333;
	opacity: 0.7;
	position: absolute;
	z-index: 5000;
}
#noscriptError {
	top: 25%; left: 50%;
	position: fixed;
	z-index: 5001;
	margin-left: -249px;
	margin-top: -6px;
}
#ieError {
	top: 25%; left: 50%;
	position: fixed;
	z-index: 5001;
	margin-left: -335px;
	margin-top: -6px;
}

/* Fix weird whitespace on mobile */
html {
	width: auto !important;
	overflow-x: hidden !important;
}
body {
	width: auto !important;
	overflow-x: hidden !important;
	margin-top: 110px;
	min-height: 400px;
}