/* Misc Styles */
#days {
  width: 25px;
  margin-top: 5px;
  text-align: center;
  padding: 0; }

.rejectArea {
  display: none; }

.detailsArea {
  cursor: pointer; }

.dropdown-menu {
  right: 0;
  left: initial; }

.hidden {
  display: none; }

/* Fix weird whitespace on mobile */
html {
  width: auto !important;
  overflow-x: hidden !important; }

body {
  width: auto !important;
  overflow-x: hidden !important; }
