/* Misc Styles */
#days {
  width: 25px;
  margin-top: 5px;
  text-align: center;
  padding: 0; }

.rejectArea {
  display: none; }

.detailsArea {
  cursor: pointer; }

.dropdown-menu {
  right: 0;
  left: initial; }

.hidden {
  display: none; }
